{% extends "layout/masterLayout.njk" %} {% block content %}
<div class="container-fluid px-4">
  <h1 class="mt-4">Sub Module</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Halaman Sub Module</li>
  </ol>
  <div class="row">
    <h1>Selamat datang di Sub Module</h1>
  </div>
</div>

{% endblock %}
